.addImageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(238,238,238);
}

.addImageForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
    width: 80%;
}

.addImageTitle {
    font-weight: 500;
}

.addImageInputDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addImageLabel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addImagePreview {
    max-height: 12rem;
    width: 300px;
    object-fit: cover;
}

.addImageInput {
    display: none;
}

.addImageTextArea {
    resize: none;
    border: 1px solid rgb(221,221,221);
    width: 500px;
    height: 100px;
    padding: 1rem;
}

.addImageTextArea:focus {
    outline: none;
}

.addImageButton {
    margin: 1rem 0;
    padding: 12px 20px;
    color: white;
    font-size: 17.5px;
    border-radius: 6px;
    border: none;
    background-color: rgb(251,171,23);
}

.addImageButton:hover {
    cursor: pointer;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 4px rgb(0 0 0 / 60%);
}
