.homeFooter {
    display: flex;
    justify-content: space-evenly;
    height: fit-content;
    background-color: rgb(85,85,85);
    padding: 1rem 0;
}

.footerCategoriesContainer {
    display: flex;
    gap: 1.25rem;
}

.footerRobot {
    height: 100%;
}

.footerRobotLogo {
    height: 8em;
    width: auto;
}

.footerCategoriesWrapper {
    display: flex;
    flex-direction: column;
}

.footerHeaders {
    margin-bottom: .5rem;
    color: #ffffff;
}

.footerCategories {
    columns: 2;
}

.footerCategories > li {
    list-style-type: none;
}

.footerCategoryOptions,
.footerAboutUsLinks {
    text-decoration: none;
    color: #bbbbbb;
}

.footerCategoryOptions:hover,
.footerAboutUsLinks:hover {
    color: #ffffff;
}

.footerAboutContainer {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    gap: 2rem;
}

.footerAboutUsContainer {
    display: flex;
    flex-direction: column;
}

.footerResourcesContainer {
    display: flex;
    flex-direction: column;
}

.footerFindUsContainer {
    display: flex;
    gap: 1rem;
}

.footerFindUsImg {
    height: 3rem;
    width: auto;
}
