/* Login */
.loginContainer,
.signupContainer {
    display: flex;
    flex-direction: column;
    background: url('https://res.cloudinary.com/depdd11lz/image/upload/v1640135493/crafts-table_jjkmpe.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.loginForm,
.signupForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 100vh;
    margin: 0 4rem;
    padding: 4rem 0;
    background-color: rgb(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
}

.loginInputDiv,
.signupInputDiv {
    margin: 0.5rem;
    width: 80%;
}

.loginErrors,
.signupErrors {
    font-style: italic;
    color: red;
}

.loginInput,
.signupInput {
    width: 100%;
    border-radius: 6px;
    padding: 6px 12px;
    border: none;
    outline: none;
}

.loginInput:focus,
.signupInput:focus {
    border: 1px solid rgb(115,182,235);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
}

.loginSubmit,
.signupSubmit {
    margin: 1rem 0;
    padding: 8px 20px;
    color: white;
    font-size: 17.5px;
    border-radius: 6px;
    border: none;
    background-color: rgb(251,171,23);
}

.loginSubmit:hover,
.signupSubmit:hover {
    cursor: pointer;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 4px rgb(0 0 0 / 60%);
}

.loginRedirects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
}

.loginDemo {
    margin: 0.5rem;
    color: white;
    background: none;
    border: none;
}

.loginDemo:hover {
    cursor: pointer;
    text-decoration: underline;
}

.loginNavLink,
.signupNavLink {
    margin: 0.5rem;
    color: white;
}

.loginNavLink:hover,
.signupNavLink:hover {
    text-decoration: none;
}

/* Logout */
.logoutButton {
    padding: 0.25rem 0.5rem;
    border: 1px solid rgb(210,210,210);
    border-radius: 4px;
    color: black;
    background-color: white;
    text-decoration: none;
}

.logoutButton:hover {
    cursor: pointer;
}
