.projectCommentsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    /* min-height: 600px; */
    background-color: rgb(238,238,238);
}

.projectCommentsHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 2rem 4rem 4rem 4rem;
    border-radius: 6px;
    border: 1px solid rgb(221,221,221);
    background-color: white;
}

.projectCommentsDiv {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 1rem 0;
    width: 100%;
    gap: 0.5rem;
    font-size: 17.5px;
    border-bottom: 1px solid rgb(221,221,221);
}

.projectCommentsContent {
    word-break: break-all;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
}

.projectCommentsButtons {
    display: flex;
    gap: 1rem;
}

.projectCommentsEdit,
.projectCommentsDelete {
    margin: 1rem 0;
    padding: 6px 10px;
    color: white;
    font-size: 17.5px;
    border-radius: 6px;
    border: none;
    background-color: rgb(251,171,23);
}

.projectCommentsEdit:hover,
.projectCommentsDelete:hover {
    cursor: pointer;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 4px rgb(0 0 0 / 60%);
}

.projectCommentsCreate {
    margin: 1rem 0;
    padding: 6px 10px;
    color: white;
    font-size: 17.5px;
    border-radius: 6px;
    border: none;
    background-color: rgb(251,171,23);
}

.projectCommentsCreate:hover {
    cursor: pointer;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 4px rgb(0 0 0 / 60%);
}
