.homeContainer {
    /* min-height: 800px; */
    display: flex;
    flex-direction: column;
}

.homeFeatured {
    display: flex;
    justify-content: center;
    min-height: 400px;
    background: url('https://res.cloudinary.com/depdd11lz/image/upload/v1640135493/crafts-table_jjkmpe.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

.homePageFeatureBlur {
    position: absolute;
    background: rgba(255, 255, 255, 0.068);
    backdrop-filter: blur(6px);
    min-height: 400px;
    width: 100vw;
}

.homeFeatureDiv {
    position: relative;
    display: flex;
    justify-content: center;
    width: 80%;
    /* background-color: darkviolet; */
}

.homeFeatureImg {
    height: 400px;
}

.homeFeatureContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    gap: 1rem;
    text-decoration: none;
    color: black;
    background-color: rgba(255, 255, 255, 0.3);
}

.homeFeatureTitle,
.homeFeatureContentP {
    word-break: break-all;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
}

.homeFeatureContent:hover {
    text-decoration: underline;
}

.homeInfoContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem 0;
    border-top: 1px solid rgb(204,204,204);
    /* background-color: olive; */
}

.homeInfoSingleDiv {
    padding: 1rem;
    height: 300px;
    width: 300px;
    margin: 0 1rem;
    /* background-color: aquamarine; */
}

.homeInfoTitle,
.homeCategoriesTitle {
    font-size: 34px;
    font-weight: 400;
}

.homeInfoContent {
    font-size: 18px;
}

.homeCategoriesContainer {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    background-color: rgb(238,238,238);
}

.homeCategoriesDiv {
    margin: 1rem 0;
}

.homeSingleCategoryTitle {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
}

.homeSingleCategoryTitle:hover {
    text-decoration: underline;
}

.material-icons {
    color: rgb(174,174,174) !important;
}

.homeCategoryProjectsHolder {
    display: flex;
    justify-content: space-between;
    /* background-color: cyan; */
}

.homeCategorySingleCategoryHolder {
    background-color: white;
    width: 300px;
    border: 1px solid rgb(230,230,230);
    border-radius: 4px;
    gap: 1rem;
    text-decoration: none;
    color: black;
}

.homeCategorySingleCategoryImg {
    max-height: 12rem;
    width: 100%;
    object-fit: cover;
}

.homeCategorySingleCategoryInfo {
    display: flex;
    justify-content: center;
}

.homeCategoryTitleP {
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    word-break: break-all;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
}

.homeCategoryTitleP:hover {
    text-decoration: underline;
}

.homeFooter {
    display: flex;
    justify-content: space-evenly;
    height: fit-content;
    background-color: rgb(85,85,85);
    padding-top: 1rem;
}

.footerCategoriesContainer {
    display: flex;
    gap: 1.25rem;
}

.footerRobot {
    height: 100%;
}

.footerRobotLogo {
    height: 8em;
    width: auto;
}

.footerCategoriesWrapper {
    display: flex;
    flex-direction: column;
}

.footerHeaders {
    margin-bottom: .5rem;
    color: #ffffff;
}

.footerCategories {
    columns: 2;
}

.footerCategories > li {
    list-style-type: none;
}

.footerCategoryOptions {
    text-decoration: none;
    color: #bbbbbb;
}

.footerCategoryOptions:hover {
    color: #ffffff;
}

.homeAboutContainer {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    gap: 1rem;
}

.footerFindUsContainer {
    display: flex;
    gap: 1rem;
}

.footerFindUsImg {
    height: 3rem;
    width: auto;
}

.aboutUsContainer {
    /* background-color: purple; */
    display: flex;
    justify-content: center;
}

.aboutUsWrapper {
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    width: 50%;
}

.aboutUsTitleWrapper {
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid #e0e0e0;
}

.aboutUsTitle {
    text-align: center;
    width: 75%;
}

.aboutUsVideoContainer {
    background-color: #f6f6f6;
    padding: 1rem;
    border: 1px solid #e0e0e0;
}

.aboutUsStoryWrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.aboutUsStoryTitle {
    padding-top: 1rem;
}

.aboutUsStoryParagraph {
    columns: 2;
}
