.homeContainer {
    /* min-height: 800px; */
    display: flex;
    flex-direction: column;
}

.homeFeatured {
    display: flex;
    justify-content: center;
    min-height: 400px;
    /* background-color: aquamarine; */
}

.homeFeatureDiv {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    gap: 1rem;
    /* background-color: darkviolet; */
}

.homeFeatureImg {
    height: 400px;
}

.homeFeatureContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-decoration: none;
    color: black;
}

.homeFeatureContent:hover {
    text-decoration: underline;
}

.homeInfoContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem 0;
    border-top: 1px solid rgb(204,204,204);
    /* background-color: olive; */
}

.homeInfoSingleDiv {
    padding: 1rem;
    height: 300px;
    width: 300px;
    margin: 0 1rem;
    /* background-color: aquamarine; */
}

.homeInfoTitle,
.homeCategoriesTitle {
    font-size: 34px;
    font-weight: 400;
}

.homeInfoContent {
    font-size: 18px;
}

.homeCategoriesContainer {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    background-color: rgb(238,238,238);
}

.homeCategoriesDiv {
    margin: 1rem 0;
}

.homeSingleCategoryTitle {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
}

.homeSingleCategoryTitle:hover {
    text-decoration: underline;
}

.material-icons {
    color: rgb(174,174,174) !important;
}

.homeCategoryProjectsHolder {
    display: flex;
    justify-content: space-between;
    /* background-color: cyan; */
}

.homeCategorySingleCategoryHolder {
    background-color: white;
    width: 300px;
    border: 1px solid rgb(230,230,230);
    border-radius: 4px;
    gap: 1rem;
    text-decoration: none;
    color: black;
}

.homeCategorySingleCategoryImg {
    max-height: 12rem;
    width: 100%;
    object-fit: cover;
}

.homeCategorySingleCategoryInfo {
    display: flex;
    justify-content: center;
}

.homeCategoryTitleP {
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    text-align: center;
    padding: 0.5rem;
}

.homeCategoryTitleP:hover {
    text-decoration: underline;
}

.homeFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: rgb(85,85,85);
}

.homeAboutContainer {
    display: flex;
    justify-content: space-between;
    width: 20%;
}

.homeAboutImg {
    height: 64px;
    width: auto;
}
