.editImageBackground {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.editImageContainer {
    position: fixed;
    height: fit-content;
    display: flex;
    justify-content: center;
    width: 600px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    z-index: 101;
}

.editImageForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
    width: 80%;
}

.editImageTitle {
    font-weight: 500;
}

.editImageInputDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editImageLabel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editImagePreview {
    max-height: 12rem;
    width: 300px;
    object-fit: cover;
}

.editImageError {
    font-style: italic;
    color: red;
}

.editImageInput {
    display: none;
}

.editImageTextArea {
    resize: none;
    border: 1px solid rgb(221,221,221);
    width: 400px;
    height: 100px;
    padding: 1rem;
}

.editImageTextArea:focus {
    outline: none;
}

.editImageButton {
    margin: 1rem 0;
    padding: 12px 20px;
    color: white;
    font-size: 17.5px;
    border-radius: 6px;
    border: none;
    background-color: rgb(251,171,23);
}

.editImageButton:hover {
    cursor: pointer;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 4px rgb(0 0 0 / 60%);
}
